*{

}

.container{	
	width: 70%;
	max-height: 1200px;
	margin: 0 auto;
}

.header{	
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.logo{	
	font-size: 30px;
	color: white;
	text-align: center;
}
.header___inner{	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}
.nav{	
	font-size: 20px;
	text-transform: uppercase;
}
.nav_link{	
	display: inline-block;
	vertical-align: top;
	margin: 0 15px; /* отступы между словами */
	position: relative;
	color: white;
	text-decoration: none;
	transition: color 0.1s linear;
}
.nav_link:hover{	
	color: lightgreen;
}
.nav_link:after{	
	content: "";
	display: block;
	width: 100%;
	height: 3px;

	opacity: 0;
	background-color: lightgreen;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity 0.1s linear;
}
.nav_link:hover:after{	
	display: block;
	opacity: 1;
}
.intro{	
	width: 100%;
	height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.bth{	
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid #fff;
	vertical-align: top;
	padding: 8px 30px;

	transition: background .1s liner, color 0.1 linear;
}	
.bth:hover {	
 	background-color: lightgreen;
 	color: lightgreen;
}
p {
	color: white;
}
.about{	
	display: flex;
	justify-content: space-between;
}
.section{	
	padding: 80px 0;
}
.section_header{	
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 80px;
	text-align: center;
	overflow: auto;
}
.section_suptitle {	
	font-size: 36px;
	color: #fff;
}
.section_title	{	
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.section_title:after{	
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto;
	background-color: #fff;
}
.container_gallery {	
	width: 60%;
	margin: 2rem auto;
}
.gallery {	
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 5vw);
	grid-gap: 1.5rem;
}
.gallery__img {	
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.gallery__img:hover {	
	transform:scale(1.05) ;
	transition: 1s;
}
.gallery_item1{	
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}
.gallery_item2{	
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
}
.gallery_item3{	
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start: 1;
	grid-row-end: 6;
}
.gallery_item4{	
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 6;
}
.gallery__item5{	
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 6;
	grid-row-end: 9;
}
.gallery__item6{	
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start: 6;
	grid-row-end: 9;
}

.bgvideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-widht: 100%;
	min-height: 100%;
	widht: auto;
	height: auto;
	z-index: -9999;
}
